.education__title{
    background-color: rgba(240, 248, 255, 0.288);
    padding: 2px 0px;
}

.education__list{
    padding: 5px;
    
}
.status__class{
    color: blue;
    padding: 3px;
    margin: 0px;
}