.hero__container{

    
}


.aboutMe__container {
 
    margin-bottom: 40px;
    letter-spacing: 1.5px;
    border-bottom: 1px solid black;
    align-items: center;
    padding-bottom: 20px;
    
   
   

}