.App {
  text-align: center;
  background: rgb(185,234,250);
  background: linear-gradient(0deg, rgba(185,234,250,1) 0%, rgba(110,158,203,1) 100%);
}

.buttonOne{
  background: rgb(107,197,255);
  background: linear-gradient(51deg, rgba(107,197,255,1) 0%, rgba(0,26,57,1) 30%);
  text-decoration: none;
  border-style: none;
  padding: 10px 20px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 5px;
  border:  1px solid rgb(25, 157, 245);
  
}

.buttonTwo{
  background: rgb(107,197,255);
  background: linear-gradient(51deg, rgba(107,197,255,1) 0%, rgba(0,26,57,1) 30%);
  text-decoration: none;
  border-style: none;
  padding: 10px 20px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 5px;
  border:  1px solid rgb(25, 157, 245);
}